<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearbypets">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ProductDescActivity"
            android:parentActivityName=".activities.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProductListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.PostMyAdActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".service.GPSTracker"
            android:exported="false" />

        <activity
            android:name=".activities.ImageActivity"
            android:parentActivityName=".activities.ProductDescActivity" />
        <activity
            android:name=".activities.ClassifiedAdsActivity"
            android:parentActivityName=".activities.CategoryListActivity" />
        <activity
            android:name=".activities.ClassfiedProductDescActivity"
            android:parentActivityName=".activities.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PostedAdListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.PostedAdDetailsActivity"
            android:parentActivityName=".activities.PostedAdListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SavedAdListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.SavedAdDetailsActivity"
            android:parentActivityName=".activities.SavedAdListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HiddenAdActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.GridViewPhotos" />
        <activity android:name=".activities.PreviewImage" />
        <activity
            android:name=".activities.UserSettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.EditUserProfile"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>